body{
    margin: 0px;
    text-align: center;
    /* background-color: black; */
}
.navigation{
    background-color: black;
    color: white;
    height: 3.5rem;
    margin-top: 0px;
    overflow: hidden;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem ;
    /* position: fixed; */
    width: 100%;

}
.logo{
    height: 4.8rem;
    width: 4.8rem;
    display: inline;
    float: left;
    padding-right: 20rem;
    /* padding-right: 0rem; */
}
.link{
    text-decoration: none;
    color: white;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
}
.unordered-list{
    list-style: none;
}
.inline-list{
    display: inline;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
}

.mainimg{
    height: 34.9rem;
    width: 84.32rem;
    /* margin-top: 2.5rem; */
    position: relative;
    top: 0;
    left: 0;
    
}
.center-part{
    margin-top: 0rem;
    margin: 0rem;
    position: relative;
}
.align-text{
    display: flex;
    text-align: right;
}
.main-head{
  position: absolute;
  /* top: 0rem; */
  left: 36.5rem;
  bottom: 20rem;
  height: 13rem;
  width: 13rem;
}
.main-head-text{
   position: absolute;
   left: 22.5rem;
   bottom: 16rem;
   /* height: rem; */
   /* width: 13rem; */
}
.container{
    background-color:  #F9FAFB;
    margin : 0%;
    padding: 2rem;
}
.container-a{
    background-color: #D1D5DB;
    margin: 0%;
    padding: 2rem;
}

.head-container{
    color: #4285F4;
}
.head-container-a{
    color: #DB4437;
}

.line-container{
    border: 8px  #F4B400;
    border-style: dotted none none none;
    width: 20rem;
    padding-bottom: 0.5rem ;
}
.line-container-a{
    border: 8px #0F9D58;
    border-style: dotted none none none;
    width: 20rem;
    padding-bottom: 0.5rem ;
}
.about{
    padding: 0rem 15rem 0.5rem 15rem;
}
.footer{
    background-color: black;
    padding: 2rem;
    color: white;
}
.insta{
    height: 5rem;
    width: 5rem;
}
.fb{
    height: 5rem;
    width: 5rem;
}
.twitter{
    height: 5rem;
    width: 5rem;
}
.linkedin{
    height: 5rem;
    width: 5rem;
}